
*{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0D0826;
	color:#DCD9FF;
    font-family: zls;
	font-feature-settings: "ss02", "ss08", "ss10";
	font-size: 13px;
}


::selection {
    background: whitesmoke;
    color:#000;/* WebKit/Blink Browsers */
}


@font-face {
    font-family: "ckmono";
    src: url(fonts/mono3-300-webfont.woff2);
}

@font-face {
    font-family: "zls";
    src: url(fonts/zelustitlingcut7-webfont.woff2);
}

@font-face {
    font-family: "zlstext";
    src: url(fonts/zelustextcut9-Regular.woff2);
}

.container {
    font-size: 14vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
    letter-spacing: -1vw;
    line-height: 100%;
    text-align: center;
  height: 600vh;
        z-index: 0;
}

.container span {
    font-family: "zlstext";
}

.item {
  position: sticky;
text-transform: uppercase;
}

.shark-3 {
  bottom: 8.5rem;
  align-self: flex-end;
}

.snow {
    background: url(img/snow%20copy.jpg);
    background-size: cover;
    background-position: center;
    width: 66vw;
    height: 44vw;
    display: block;
    position: absolute;
    z-index: 20;
    margin-top: 350vh;
    margin-left: 6vw;
    z-index: 0;
}

.rain {
    background: url(img/dirtt%20copy.jpg);
    background-size: cover;
    background-position: center; 
    width: 66vw;
    height: 44vw;
    display: block;
    position: absolute;
    z-index: 20;
    margin-top: 500vh;
    margin-left: 28vw;
    z-index: 0;
}

.sun {
    background: url(img/Sunn%20copy.jpg);
    background-size: cover;
    background-position: center; 
    width: 66vw;
    height: 44vw;
    display: block;
    position: absolute;
    z-index: 20;
    margin-top: 650vh;
    margin-left: 12vw;
        z-index: 0;
}

.cta {
    font-size: 20px;
	background-color:;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 8vw;
    margin-bottom: 3vw;
    transition: 0.25s;
    padding: 1.5vw 2vw;
    border: 1px solid #DCD9FF;
    z-index: 20;
    cursor: pointer;
}

.cta:hover {
	background-color: #DCD9FF;
	color:#0D0826;
    border-radius: 50px;
}

.thickdicknick {
    height: 2500px;
}