@media all and (max-width: 680px) {

    .nav {
        padding: 8vw 8vw;
    }
    
    .nav li{
        margin-right: 8vw;
        padding:  2px 0px;
    }
    
    html::-webkit-scrollbar {
      width: 0px;
    }
    
    .container {  
        width: 60vw;
        height: 40vw;
        margin-top: -40px;
    }
    
    .item {
        width: 60vw;
        height: 40vw;
    }
    
    .a {
        transform: rotateX(0deg) translateZ(38vw);
    }

    .b {
        transform: rotateX(60deg) translateZ(38vw);
    }

    .c {
        transform: rotateX(120deg) translateZ(38vw);
    }

    .d {
        transform: rotateX(180deg) translateZ(38vw);
    }

    .e {
        transform: rotateX(240deg) translateZ(38vw);
    }
    
    .f {
        transform: rotateX(300deg) translateZ(38vw);
    }
    
    .desc {
        line-height: 150%;
    }

    .footer p {
        width: 100vw;
    }
}