@media all and (max-width: 600px) {

    .nav {
        padding: 4vw 4vw;
    }
    
    .nav li{
        margin-right: 4vw;
        padding:  2px 0px;
    }
    
    html::-webkit-scrollbar {
      width: 0px;
    }
    
    
    
    
.container {  
    margin: 0 auto;
    display: flex;
    width: 60vw;
    height: 72vw;
    transform-style: preserve-3d;
    position: relative;
	-webkit-animation-name: rotateSlow;  
	-webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 20s; 
    perspective: 2000px;
}
    

.item {
    width: 60vw;
    height: 72vw;
}

.item p{
    margin-bottom: 5px;
    font-size: 8px;
}

.projinfo {
    width: 300px;
}


.carousel a {
	text-decoration: none;
	color: #000;
}

.overlay {
    width: 60vw;
    height: 60vw;
}

.c video {
    width: 60vw;
    height: 60vw;
    object-fit: cover;
    z-index: 0;
}

    
    
    
    
    
    .a {
        transform: rotateX(0deg) translateZ(70vw);
    }

    .b {
        transform: rotateX(-60deg) translateZ(70vw);
    }

    .c {
        transform: rotateX(-120deg) translateZ(70vw);
    }

    .d {
        transform: rotateX(-180deg) translateZ(70vw);
    }

    .e {
        transform: rotateX(-240deg) translateZ(70vw);
    }
    
    .f {
        transform: rotateX(-300deg) translateZ(70vw);
    }
    
    .desc {
        line-height: 150%;
    }

    .footer p {
        width: 100vw;
    }
}