*{
	margin: 0;
  padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
    /*
	-webkit-animation-name: changeColor;  
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-duration: 10s;
    */
	color:#000;
  font-family: retail;
	font-feature-settings:;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: ;
}
/*
@-webkit-keyframes changeColor {  
  0% { background-color: whitesmoke; }
	25% { background-color: #E1F3DB; }
  50% { background-color: #E2E2FA; }
	75% { background-color: #FEF1E7; }
  100% { background-color: whitesmoke; }
}
*/


.blinkdiv {
}   

.nav {
	width:100vw;
	position: fixed;
	padding: 3vw 4vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
}

.nav ul{
	list-style: none;
	display: flex;
}

.nav li{
	margin-left: 50px;
	padding:  2px 0px;
}

.activeLink {
	border-bottom: 1px solid black;
}

.nav li:hover {
	cursor: pointer;
	border-bottom: 1px solid black;
}
 
.container {
  margin: 0 auto;
    -webkit-animation-name: rotateSlow;  
	-webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 40s; 
  margin-top: 25vh;
  width: 30vw;
  height: 30vw;
  position: relative;
  perspective: 2000px;
}

@-webkit-keyframes rotateSlow {  
  0% { transform: rotate(8deg); }
  50% { transform: rotate(-8deg); }
  100% { transform: rotate(8deg); }
}
 
.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}
 
.item {
  display: flex;
    flex-direction: column;
	cursor: pointer;
    padding: 2vw;
  position: absolute;
  background: #fff;
	color: transparent;
  width: 30vw;
  height: 30vw;
  line-height:90%;
  font-size: 6vw;
  font-weight: 500;
  letter-spacing: -0.2vw;
	border-radius: 5px;
}

.item p {
    font-size: 11px;
    letter-spacing: 0.05vw;
    line-height: 100%;
    margin-bottom: 1vw;
}
 
.a {
  transform: rotateY(0deg) translateZ(30vw);
    background: url(img/Screen%20Shot%202021-07-31%20at%207.40.09%20PM.png);
    background-position: center;
    background-size: cover;
}

.a:hover {
    background: #000;
    color: #fff;
}

.b {
  transform: rotateY(60deg) translateZ(30vw);
    background: url(img/zls.jpg);
    background-position: center;
    background-size: cover;
}

.b:hover {
    background: #000;
    color: #fff;
}

.c {
  transform: rotateY(120deg) translateZ(30vw);
    background: url(img/lz-biz-cards.jpg);
    background-position: center;
    background-size: cover;
}

.c:hover {
    background: #000;
    color: #fff;
}

.d {
  transform: rotateY(180deg) translateZ(30vw);
    background: url(img/complio.png);
    background-position: center;
    background-size: cover;
}
.d:hover {
    background: #000;
    color: #fff;
}

.e {
  transform: rotateY(240deg) translateZ(30vw);
        background: url(img/amorous_alt_cd.jpg);
    background-position: center;
    background-size: cover;
} 
.e:hover {
    background: #000;
    color: #fff;
}

.f {
  transform: rotateY(300deg) translateZ(30vw);
    background: url(img/eyedemi.jpg);
    background-position: center;
    background-size: cover;
}
 
.f:hover {
    background: #000;
    color: #fff;
}

.next, .prev {
  position: absolute;
	background-color: #000;
	color: #fff;
	height: 40px;
	display: flex;
	justify-content: center;
	border-radius: 40px;
	align-items: center;
	width: 40px;
  bottom: 50vh;
  cursor: pointer;
}
.next:hover, 
.prev:hover { 
  color: grey;
}

.next { right: 4vw; }
.prev { left: 4vw; }