*{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html,body {
    font-family: "flatty";
    font-feature-settings: "liga" on;
    text-rendering: geometricPrecision;
    font-variation-settings: 'wght' 300;
    background-color: var(--backgroundColor);
    line-height: 135%;
    font-size: 24px;
    letter-spacing: -0.0em;
    color: var(--textColor);
    scroll-behavior: smooth;
}



/* ------- FONTS & COLORS / REUSABLES ------- */

@font-face {
    font-family: 'rit';
    src: url(fonts/ritTail2VF.ttf);
}

@font-face {
    font-family: 'diatype';
    src: url(fonts/ABCDiatypeVariable.ttf);
}

@font-face {
    font-family: 'swiss27';
    src: url(fonts/Swiss27VF.ttf);
}

@font-face {
    font-family: 'flatty';
    src: url(fonts/flattyEditsVF.ttf);
}

@font-face {
    font-family: 'chubba';
    src: url(fonts/boboVF.ttf);
}


:root {
    --backgroundColor: white;
    --textColor: black;
    --bgOffsetColor: #eee;
    --doubleUniversalMargin: 16vw;
    --universalMargin: 8vw;
    --navMargin: 2vw;
    --halfUniversalMargin: 2vw;
    --quarterUniversalMargin: 0.5vw;
}



/* ------- NAVIGATION ------- */

.nav {
    display: flex;
    padding: var(--navMargin) var(--halfUniversalMargin);
    width: 100vw;
    z-index: 20;
    position: fixed;
    justify-content: space-between;
    line-height: 80%;
    background: transparent;
    mix-blend-mode: difference;
    transition: transform 0.5s;
}

.nav.hidden {
    transform: translateY(-100%);
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li{
    margin-left: var(--universalMargin);
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    opacity: 50%;
}


/* ------- COLUMNS ------- */

.sixth {
  width: 16.5%;
}

.quarter {
    width: 25%;
}

.half {
    width: 50%;
}

.threeQuarter {
    width: 75%;
}

.fifth {
    width: 20%;
}

.twoFifth {
    width: 40%;
}

.threeFifth {
    width: 60%;
}

.third {
    width: 33%;
}

.twoThird {
    width: 66%;
}

.fiveSixths {
    width: 82.5%;
}

.spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alignEnd {
    display: flex;
    justify-content: flex-end;
}



/* ------- ROWS ------- */

.row {
    display: flex;
    padding: 0px var(--halfUniversalMargin);
}

.stickyRow {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--backgroundColor);
    padding: var(--navVerticalMargin) 0px;
}

.imgRow {
    display: flex;
    justify-content: space-between;
}

.firstRow {
    padding-top: 200px;
}

.marginRight {
    margin-right: var(--quarterUniversalMargin);
}

.marginLeft {
    margin-left: var(--quarterUniversalMargin);
}



/* ------- IMAGES ------- */

.firstImg {
    margin-bottom: var(--universalMargin);
    width: 100vw;
}

.firstImg img {
    width: 100%;
}

.fullImg {
    padding: var(--universalMargin) var(--halfUniversalMargin);
}

.fullImg img {
    width: 100%;
}

.fullImg video {
    width: 100%;
}

.thirdImg {
    width: 33%; 
    padding-bottom: var(--universalMargin);
}

.thirdImg img {
    width: 100%;
}

.halfImg {
    width: 50%;
}

.halfImg img {
    width: 100%;
}

.halfImg video {
    width: 100%;
}

.twoThirdsImg {
    width: 66%; 
    padding: var(--universalMargin) 0px;
}

.twoThirdsImg img {
    width: 100%;
}

.twoThirdsImg video {
    width: 100%; 
}

.threeFifthImg {
    width: 60%;
}

.threeFourthImg {
    width: 66%;
}

.threeFourthImg img {
    width: 100%;
}

.threeFifthImg video {
    width: 100%;
}

.centerImg {
    margin: auto;
    padding: var(--universalMargin) 0px;
}

/*------- CHUBBA ------*/

.chubbImg {
    width: 100vw;
    height: 62.5vw;
    padding-top: var(--universalMargin);
    display: flex;
    background: var(--textColor);
    color: var(--backgroundColor);
    justify-content: center;
    align-items: center;
    line-height: 200%;
}

.chubbLetters{
    font-family: "chubba";
    line-height: 200%;
    font-size: 21vw;
    display: inline-block;
    letter-spacing: -0.05vw;
    animation: weightChange 3s infinite;
}

/*
.chubbaC {
    animation: weightChange 2s infinite;
}

.chubbaH {
    animation: weightChange 2s infinite;
    animation-delay: 0.15s;
}

.chubbaU {
    animation: weightChange 2s infinite;
    animation-delay: 0.3s;
}

.chubbaBone {
    animation: weightChange 2s infinite;
    animation-delay: 0.45s;
}

.chubbaBtwo {
    animation: weightChange 2s infinite;
    animation-delay: 0.6s;
}

.chubbaA {
    animation: weightChange 2s infinite;
    animation-delay: 0.75s;
}
*/

@keyframes weightChange {
    0%   {font-variation-settings: 'wght' 100;}
    50%  {font-variation-settings: 'wght' 10;}
    100%  {font-variation-settings: 'wght' 100;}
}

.comingSoon {
    font-family: "chubba";
    width: 100vw;
    font-size: 10.85vw;
    line-height: 85%;
    font-variation-settings: 'wght' 66;
    text-align: center;
    padding: var(--universalMargin) 0px;
}

.chubbaStyle {
    font-family: "chubba";
    font-size: 12vw;
    line-height: 80%;
}

.chubbaWord {
    display: flex;

}

/*------- OTHER ------*/

.goToArchive {
    color: var(--textColor);
    text-decoration:none;
}

.goToArchive:hover {
    opacity: 50%;
}

.back {
    background: var(--textColor);
    color: var(--backgroundColor);
    font-size: 21vw;
    line-height: 30vw;
    width: 100%;
    letter-spacing: -.25vw;
    font-variation-settings: 'wght' 675;
    text-align: center;
    border-radius: 5000px;
    margin-bottom: var(--halfUniversalMargin);
    padding: var(--universalMargin);
    text-decoration: none;
}

.back:hover {
    background-color: var(--bgOffsetColor);
}

.back:hover .backText{
    background: -webkit-linear-gradient(0.5turn,rgb(0, 183, 255),gold, orangered, magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






.workCont {
    display: flex;
    flex-direction: column;
    line-height: 120%;
    padding: 200px var(--universalMargin);
}


















/*-------TYPE TESTER-------*/

.testerControls {
    width: 96vw;
    margin-left: var(--halfUniversalMargin);
    display: flex;
}




input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--bgOffsetColor);
    height: 16px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: var(--textColor);
    height: 16px;
    width: 16px;    
}
/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
    outline: none;
  }
  
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
    background: orangered;
}




.sliderCont {
    display: block;
    width: 25%;
    margin-right: var(--halfUniversalMargin);
}


.sliderCont input{
    width: 100%;
}




.tester-alternates {
    padding-left: var(--halfUniversalMargin);
    padding-top: 10px;
}

.btn {
    display:inline-flex;
    padding: 4px 10px;
    line-height: 100%;
    align-items: center;
    margin: 0px;
    background: var(--bgOffsetColor);
    border-radius: 20px;
    cursor: pointer;
}

.type-tester {
    max-width: 100%;
    padding-left: var(--halfUniversalMargin);
    text-align: left;
    display: flex;
    overflow: scroll;
    align-items: flex-start;
    padding-top: 50px;
    height: fit-content;
    overflow-y: hidden;
    padding-bottom: var(--universalMargin);
}

.text-input-fett {
    font-variation-settings: 'wght' 800;
    font-size: 5.6vw;
    letter-spacing: -0.015em;
    line-height: 100%;
}

.type-tester [contenteditable] {
    outline: none;
}

.ss01 {
    font-feature-settings: "ss01";
}

.ss02 {
    font-feature-settings: "ss10";
}


.on {
    background: var(--textColor);
    color: var(--backgroundColor);
}

/*-------FOOTER-------*/

.footer {
    background: springgreen;
    cursor: pointer;
    color: #000;
    margin: var(--halfUniversalMargin);
    display: flex;
    justify-content: center;
    border-radius: 2000px;
    padding: 100px 20px;
    margin-top: 120px;
    font-size: 8vw;

}




















/*------- MEDIA QUERIES ------*/



.mobileRow {
    display: flex;
    width: 50%;
}


.mobileRow .quarter {
    width: 50%;
}
    
.testerRow {
    width: 50%;
    display: flex;
}


@media only screen and (max-width: 910px) {

    html,body {
        font-size: 21px;
    }


    :root {
        --universalMargin: 8vw;
        --navMargin: 4vw;
        --halfUniversalMargin: 4vw;
        --quarterUniversalMargin: 0vw;
    }

    .quarter {
        width: 50%;
    }

    .half {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .halfImg {
        width: 100%;
    }

    .twoThirdsImg {
        width: 100%;
    }
    

    .mobileRow {
        display: flex;
        width: 100%;
        margin-bottom: var(--universalMargin);
    }

    .comingSoon {
        font-size: 10.35vw;
    }

    .testerControls {
        display: block;
    }
    
    .sliderCont {
        width: 100%;
        padding-right: var(--halfUniversalMargin);
    }


    .text-input-fett {
        font-variation-settings: 'wght' 800;
        font-size: 8vw;
        letter-spacing: -0.015em;
        line-height: 100%;
    }
    
}