* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Reusables */

html,
body {
	font-family: Deluxe, Sans-serif;
	text-rendering: geometricprecision;
    scroll-behavior: smooth;
    overflow-x:hidden;
    background-color: rgba(20,20,20);
    font-size: 16px;
    color: whitesmoke;
}


.header a {
    text-decoration: none;
    color: whitesmoke;
}

.header {
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20,20,20,0.6);
    position: fixed;
    font-weight: 600;
    width: 100vw;
    backdrop-filter: blur(24px)
}

.menu a {
    margin-right: 40px;
}

.one {
    height: 200vh;
    background-color: cornflowerblue;
    margin: 200px 80px;
}

@font-face {
    font-family: 'Deluxe';
    src: url(fonts/sazz-400-webfont.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Deluxe';
    src: url(fonts/sazz-650-webfont.woff) format('woff');
    font-weight: 600;
}